services:
  api:
    build:
      context: .
      dockerfile: relational.e2e.Dockerfile
    env_file:
      - .env
    ports:
      - ${APP_PORT}:${APP_PORT}
    healthcheck:
      test: ["CMD", "curl", "-f", "-X", "POST", "-H", "Content-Type: application/json", "--data", '{"query":"{__typename}"}', "http://localhost:80/api/v1/graphql"]
      interval: 10s
      timeout: 5s
      retries: 10
    depends_on:
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy
    networks:
      - api-network

  postgres:
    container_name: postgres
    image: janlibal/pg-multipledb # postgres:16.3-alpine
    env_file:
      - .env
    expose:
      - 5432
    ports:
      - ${DB_PORT}:${DB_PORT}
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      #POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_MULTIPLE_DATABASES: ${MULTIPLE_DATABASES}
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${DB_USERNAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
    #restart: unless-stopped
    #volumes:
    #  - postgres:/var/lib/postgresql/data
    networks:
      - api-network

  redis:
    image: redis:latest
    container_name: redis
    env_file:
      - .env
    command: redis-server --requirepass root
    ports:
      - ${REDIS_PORT}:${REDIS_PORT}
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "root", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    volumes:
      - redis:/data
    networks:
      - api-network
    #environment:
    #  - ALLOW_EMPTY_PASSWORD=yes
    #  - 'REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL'

volumes:
#  postgres:
#    name: boilerplate-db
  redis:
    driver: local
networks:
  api-network:
    driver: bridge
