name: backend
services:
  api:
    depends_on:
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy
    networks:
      - api-network
  postgres:
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${DB_USERNAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - api-network
  redis:
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "root", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - api-network

networks:
  api-network:
    name: backend-network
    driver: bridge
