name: backend
services:
  api:
    image: app:latest
    depends_on:
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy
    networks:
      - api-network
  postgres:
    image: janlibal/pg-multipledb # postgres:16.3-alpine
    networks:
      - api-network
  redis:
    image: redis:latest
    networks:
      - api-network

networks:
  api-network:
    name: backend-network
    driver: bridge
