services:
  api:
    build:
      context: .
      dockerfile: relational.e2e.Dockerfile
    env_file:
      - .env
    depends_on:
      - postgres
    networks:
      - api-network

  postgres:
    container_name: postgres
    image: janlibal/pg-multipledb # postgres:16.3-alpine
    env_file:
      - .env
    expose:
      - 5432
    ports:
      - ${DB_PORT}:${DB_PORT}
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      #POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_MULTIPLE_DATABASES: ${MULTIPLE_DATABASES}
    #restart: unless-stopped
    #volumes:
    #  - postgres:/var/lib/postgresql/data
    networks:
      - api-network

volumes:
#  postgres:
#    name: boilerplate-db
  redis:
    driver: local
networks:
  api-network:
    driver: bridge
  