name: E2E Tests
on:
  pull_request:
    branches: ['main'] #unknown
jobs:
  changes_checker:
    name: Check for relevant changes
    runs-on: ubuntu-latest
    outputs:
      run_tests: ${{ steps.check.outputs.run_tests }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Check for changes in relevant files
        id: check
        run: |
          git fetch origin main
          CHANGED_FILES=$(git diff --name-only origin/main...HEAD)
          echo "Changed files: $CHANGED_FILES"

          if echo "$CHANGED_FILES" | grep -qE '^(src/|tests/)'; then
            echo "run_tests=true" >> $GITHUB_OUTPUT
          else
            echo "run_tests=false" >> $GITHUB_OUTPUT
          fi
  run_e2e:
    name: Run E2E Tests
    runs-on: ubuntu-latest
    #needs: changes_checker
    #if: ${{ needs.changes_checker.outputs.run_tests == 'true' }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Recreate .env file from secret
        run: |
          echo "${{ secrets.ENV_TEST_FILE_BASE64 }}" | base64 --decode > .env
      - name: Build & run E2E tests
        run: |
          docker compose -f docker-compose.ci.yml up \
            --build \
            --exit-code-from api \
            --abort-on-container-exit=false
      - name: Copy prod.log from container to host
        if: ${{ failure() && steps.relational.conclusion == 'failure' }}
        run: docker cp app-ci:/usr/src/app/prod.log .
      - name: Dump API logs
        if: failure()
        run: docker compose -f docker-compose.ci.yml logs api > prod.log
      - name: Upload logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: api-logs
          path: prod.log
      - name: Cleanup
        if: always()
        run: |
          docker compose -f docker-compose.ci.yml down -v
          rm -f .env
