name: E2E Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  changes_checker:
    name: Check for relevant changes
    runs-on: ubuntu-latest
    outputs:
      run_tests: ${{ steps.check.outputs.run_tests }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Check for changes in relevant files
        id: check
        run: |
          git fetch origin main
          CHANGED_FILES=$(git diff --name-only origin/main...HEAD)
          echo "Changed files: $CHANGED_FILES"

          if echo "$CHANGED_FILES" | grep -qE '^(src/|tests/)'; then
            echo "run_tests=true" >> $GITHUB_OUTPUT
          else
            echo "run_tests=false" >> $GITHUB_OUTPUT
          fi

  run_e2e:
    name: Run E2E Tests
    runs-on: ubuntu-latest
    needs: changes_checker
    if: ${{ needs.changes_checker.outputs.run_tests == 'true' }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          node-version: 22

      - name: Recreate .env file from secret
        run: |
          echo "${{ secrets.ENV_TEST_FILE_BASE64 }}" | base64 --decode > .env

      - name: Run e2e tests
        id: relational
        run: |
          docker compose -f docker-compose.ci.yml --env-file .env -p ci-relational up --build --exit-code-from api

      - name: Copy prod.log from container to host
        if: ${{ failure() && steps.relational.conclusion == 'failure' }}
        run: docker cp ci-relational-api-1:/usr/src/app/prod.log .

      - name: Upload prod.log to artifacts for debugging
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: prod-logs
          path: prod.log

      - name: Cleanup .env file
        if: always()
        run: rm -f .env
