name: Unit Tests

on:
  push:
    branches:
      - feature/*
      - dev

jobs:
  changes_checker:
    runs-on: ubuntu-latest
    outputs:
      run_tests: ${{ steps.check.outputs.run_tests }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Check for changes in relevant files
        id: check
        run: |
          git fetch origin main
          CHANGED_FILES=$(git diff --name-only origin/main..HEAD)
          echo "Changed files: $CHANGED_FILES"
          if echo "$CHANGED_FILES" | grep -qE '^(src/|test/)'; then
            echo "run_tests=true" >> $GITHUB_OUTPUT
          else
            echo "run_tests=false" >> $GITHUB_OUTPUT
          fi
  run_unit:
    runs-on: ubuntu-latest
    #needs: changes_checker
    #if: ${{ needs.changes_checker.outputs.run_tests == 'true' }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Recreate .env file from secret
        run: |
          echo "${{ secrets.ENV_TEST_FILE_BASE64 }}" | base64 --decode > .env

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 22
          cache: yarn

      - name: Install dependencies
        run: yarn install

      - name: Run Unit Tests
        run: yarn run test:unit
        working-directory: ./
